.type {
    display: flex;
    gap: 1rem;
}

.pokemon .detail {
    flex-flow: column;
    align-items: initial;
}

.type {
    width: fit-content;
    padding: 5px;
}

.pokemon .detail img {
    max-width: 100%;
    height: 20%;
}

.about {
    background-color: rgba(245, 222, 179, 0.397);
    border-radius: 1rem;
}

.about ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
}

.to-captilize {
    text-transform: capitalize;
}

.about ul > li {
    width: 45%;
    padding: 5px;
}

.types {
    display: flex;
    flex-flow: row;
    gap: 5px;
    text-align: center;
}

.type {
    border-radius: 0.5rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 600px;
    }

    .pokemon .detail img {
        max-height: 250px;
    }
}
